<div style="overflow-x: hidden;">
  <header class="masthead" style="background-image: url('<%= result.images[0].url%>')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1><%=result.title %></h1>
            <span class="subheading">Edit Post</span>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>
