<div style="overflow-x: hidden;">
  <header class="masthead" style="background-image: url('<%= result.images[0].url%>')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1><%=result.title %></h1>
            <span class="subheading">Edit Post</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="contain-button">
      <br />
      <div id="alertMessage"></div>
      <br />
      <div class="form-group">
        <input type="text" class="form-control" id="postEditTitle" aria-describedby="title" placeholder="Title" />
      </div>

      <div class="form-group">
        <input type="text" class="form-control" id="postEditAuthor" aria-describedby="author" placeholder="Author" />
      </div>

      <div class="form-group">
        <input type="text" class="form-control" id="postEditHeading" aria-describedby="heading" placeholder="Heading" />
      </div>

      <div class="form-group">
        <input type="text" class="form-control" id="postEditSubHeading" aria-describedby="subheading" placeholder="Subheading" />
      </div>

      <div class="form-group">
        <textarea placeholder="Contents" class="form-control" id="postEditContent" rows="18"></textarea>
      </div>
      <br />
      <button onclick="handleUpdate()" type="button" class="btn btn-primary btn-block">
      Update Post
    </button>
      <br />
      <br />
    </div>
  </div>
</div>
